[merge]
    tool = unityyamlmerge

[mergetool "unityyamlmerge"]
    cmd = 'C:/Program Files/UnityHub/Editor/6000.0.37f1/Editor/Data/Tools/UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
    trustExitCode = false